*{
    border: 1px solid red;
    margin: 0;
    padding: 0;
}

p{
    color: darkblue;
}

body div section p,
body div section h1{
    color: red;
}

.heading{
    color: aqua;
}

.main-content h2{
    font-style: italic;
}

.main-content .content{
    color: cadetblue;
}

body.error .main-content h3.content{
    background-color: bisque;
}

/*.pai{
    background-color: palegreen;
    color: tomato;
}*/

.pai .filha{
    background-color: palegreen;
    color: tomato;
}

.pai.filha{
    background-color: palegreen;
    color: tomato;
}

.pai > .filha{
    color: black;
}

.pai > .filha > .filha{
    color: blueviolet;
}

div{
    color: initial;
    margin-left: 20px;
}

.irmaos h1+p{
    color: chartreuse;
}

.irmaos p+h1{
    color: chartreuse;
}

/* .irmaos h1~p{
    color: darkgoldenrod;
} */

.irmaos .um~.dois{
    color: blueviolet;
}

/* .irmaos .um + .dois{
    color: blueviolet;
} */

[meu-atributo="valor"]{
    color: steelblue;
}

[checked]{
   width: 50px;
   height: 50px; 
}

[meu-atributo~="valor1"]{ /*Se existir*/
    color: steelblue;
}

[meu-atributo^="v"]{ /*Começa com*/
    color: steelblue;
}

[meu-atributo$="1"]{ /*Termina com*/
    color: steelblue;
}

[meu-atributo*="v"]{ /*Contém com*/
    color: steelblue;
}

section{
    margin-top: 40px;
}