p {
    color: deeppink;
    background-color: yellow;
    font-size: 20px;
    font-style: italic;
    font-weight: bolder;
    direction: ltr;
    letter-spacing: 1px;
    word-spacing: 5px;
    line-height: 25px;
    text-align: left;
    text-decoration: underline;
    text-indent: 50px;
    text-shadow: 2px 2px 2px black; /* ((esquerda/direita) -(direita/esquerda)) ((topo/baixo) -(baixo/topo)) (blur) (define a cor) */
    text-transform: uppercase;
}